<div class="card shadow mt-3 mb-3 ml-4" style="border: none">
  <p class="card-header" style="background-color: #23395d; margin-bottom: 0px">
      <a style="color: white">{{ event.event_name }} –
          <span style="opacity: 75%">{{ event.category }}</span>
          {% if event in user.attending_events.all %}
              <span class="badge badge-pill badge-success ml-3" style="font-size: 0.875rem;
              float: right">Attending</span>
          {% endif %}
      </a>
  </p>
  
  <div class="card-body">
      <div style="float: left; width: 70%">
          <p style="margin-bottom: 0px"><strong>{{ event.event_date|date:'l, m/d/Y'}}</strong></p>
          <p class="text-muted"> {{ event.event_date|date:'g:i A' }} – 
              {{ event.end_event_date|date:'g:i A' }}
          </p>
          <p>ADDRESS</p>
          <p>Host: {{ event.event_host }}</p>
          <p> {{ event.event_text }}</p>
          <script
          src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCf4vECJyy-z-pq7NV93fpwP5hlZYs8pmo&callback=initMap&libraries=&v=weekly"
          defer
          ></script>
          <style type="text/css">
              /* Set the size of the div element that contains the map */
              #map {
                height: 400px;
                /* The height is 400 pixels */
                width: 100%;
                /* The width is the width of the web page */
              }
            </style>
          <p> {{ event.locate.place }}</p>        
          <p id="latitude" name= "{{ event.locate.latitude }}"> {{ event.locate.latitude }}</p> 
          <p id="longitude" name= "{{ event.locate.longitude }}"> {{ event.locate.longitude }}</p>    
      </div>
      <script>
          // Initialize and add the map
          function initMap() {
            // The location of Uluru
            const latit = document.getElementById("latitude").getAttribute("name")
            const longit = document.getElementById("longitude").getAttribute("name")
            console.log(latit)
            const points = { lat: parseFloat(latit), lng: parseFloat(longit) };
            // The map, centered at Uluru
            const map = new google.maps.Map(document.getElementById("map"), {
              zoom: 4,
              center: points,
            });
            // The marker, positioned at Uluru
            const marker = new google.maps.Marker({
              position: points,
              map: map,
            });
          }
        </script>
        <div id="map"></div>
      <div style="float: right; padding-top: 5px; margin-left: 3px">
          {% if event in user.attending_events.all %}
          <form method="post" action="{% url 'meetupfinder:cancel_attendance' event.id %}">
              {% csrf_token %}
              <input type="submit" class="btn btn-sm btn-danger" value="Cancel Attendance">
          </form>
          {% else %}
          <form method="post" action="{% url 'meetupfinder:attend' event.id %}">
              {% csrf_token %}
              <input type="submit" class="btn btn-sm btn-success" value="Attend">
          </form>
          {% endif %}
      </div>
  </div>
</div>