{% extends 'meetupfinder/base.html' %}

{% block content %}

    <h3>Events</h3>

    <div class="col-md-4 mt-3 p-3 shadow" style="float: left">
        <h5 class="mb-3">Filter Results</h5>
        <form action="{% url 'meetupfinder:events' %}" method="post">
            {% csrf_token %}
            <div class="form-group">
                {{ form.name.label }}
                {{ form.name }}
            </div>
            <div class="form-group">
                {{ form.start_date.label }}
                {{ form.start_date }}
            </div>
            <div class="form-group">
                {{ form.end_date.label }}
                {{ form.end_date }}
            </div>

            <input type="submit" class="btn btn-primary" value="Filter"/>
        </form>
    </div>

    <div class="col-md-8 mb-5" style="float: right">
        {% for event in events %}
        <div class="card shadow mt-3 mb-3 ml-4" style="border: none">
            <p class="card-header" style="background-color: #23395d; margin-bottom: 0px">
                <a style="color: white">{{ event.event_name }}
                    <span style="float: right">#{{ event.id }}</span></a>
            </p>
            
            <div class="card-body">
                <div style="float: left; width: 70%">
                    <p style="margin-bottom: 0px"><strong>{{ event.event_date|date:'l, m/d/Y'}}</strong></p>
                    <p class="text-muted"> {{ event.event_date|date:'g:i A' }} – 
                        {{ event.end_event_date|date:'g:i A' }}
                    </p>
                    <p>ADDRESS</p>
                    <p>Host: {{ event.event_host }}</p>
                    <p> {{ event.event_text }}</p>
                </div>
        
                <div style="float: right; padding-top: 5px; margin-left: 3px">
                    <a class="btn btn-sm btn-success" href="#">Save</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

{% endblock %}
